.taskDetail{
    display: flex;

    justify-content: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-icons{
    font-size: 2rem;
    margin-right: 1rem;
}
.penEdit{
    font-size: 1.4rem;
    margin-left: 1rem;
}