.container{
   display: flex;
   flex-direction: row;
   text-align: center;
}
.card{
    background-color: #CFEFEA;
    width: 50rem;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: 2px;
}
