.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .cajaItem{
    background-color: #CFEFEA;
    border-style: none;
    border-radius: 20px !important;
    display: flex;
    align-content: space-around;
    justify-content: center;
  }


  .cajaItem:hover{
    background-color: #a2ece1;
    
    /* background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%); */
  }

  p{
    font-size: 1.5rem;
    font-weight: 500;
  }


  /*
  Tipo de tarjeta según estado
  */
